.player {
  --tonearm-turn-duration: 1.5s;
  background-image: image-set("wooden@1x.06cc824a.webp" 1x, "wooden@2x.00f15a04.webp" 2x, "wooden@3x.118b4ed9.webp" 3x);
  background-size: cover;
  border-radius: .5rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 18.75rem;
  height: 13.75rem;
  margin-left: -9.375rem;
  display: flex;
  position: fixed;
  bottom: .625rem;
  left: 50%;
  box-shadow: .125rem .125rem .625rem #0006, inset 0 .15rem .5rem #ffdead80, inset 0 -.35rem .5rem #00000080;
}

.player:before {
  content: "";
  border: .15rem solid #76563b80;
  border-radius: 50%;
  width: 11.22rem;
  height: 11.22rem;
  display: block;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 .75rem .5rem #00000040;
}

.player:after {
  content: "";
  background: #000000bf;
  border-radius: 50%;
  width: .24rem;
  height: .24rem;
  display: block;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.player__tonearm {
  transform-origin: 100%;
  transition: transform var(--tonearm-turn-duration) ease-in-out;
  z-index: 3;
  background: linear-gradient(#adadad 0%, #fff 50%, #adadad 100%);
  border-radius: 0 .3125rem .3125rem 0;
  width: 8.25rem;
  height: .625rem;
  margin: 1.25rem 1.75rem;
  position: relative;
  transform: rotate(-90deg);
  box-shadow: 0 0 2px 1px #00000026;
}

.player__tonearm:before {
  content: "";
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: .3125rem;
  right: -1rem;
  transform: translateY(-50%);
  box-shadow: 0 0 5px 2px #0000004d;
}

.player__tonearm:after {
  content: "";
  clip-path: polygon(0% 0%, 100% 18%, 100% 82%, 0% 100%);
  transform-origin: 100%;
  background: linear-gradient(gray 0%, #fff 50%, gray 100%);
  border: 0;
  border-left: .5rem solid #0000;
  border-image: linear-gradient(#000 0%, #696969 50%, #000 100%) 1;
  width: 2.75rem;
  height: .8925rem;
  display: block;
  position: absolute;
  top: -.1125rem;
  left: -2.65rem;
  transform: rotate(20deg);
}

.player_prepared .player__tonearm {
  transform: rotate(-60deg);
}

.player_changing-record .player__tonearm {
  z-index: 1;
}

.player__button {
  color: #484848;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  font-size: .7rem;
  overflow: hidden;
  box-shadow: 0 0 .25rem .15rem #00000026;
}

.player__button:disabled i {
  opacity: .5;
}

.player__button .fa-play {
  position: relative;
  left: .0625rem;
}

.player__controls {
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.75rem;
  height: 100%;
  padding: 1rem;
  display: flex;
  position: relative;
}

.player_changing-record .player__controls {
  z-index: 1;
}

.player__playlist {
  z-index: 2;
  transform-origin: center;
  transition: transform var(--change-record-animation-duration, 2s) var(--change-record-animation-easing, ease-in-out);
  width: var(--records-circle-size, 93.6rem);
  height: var(--records-circle-size, 93.6rem);
  margin: 0 0 0 -46.8rem;
  list-style: none;
  position: absolute;
  top: 1.375rem;
  left: 50%;
}

.player__record {
  transform-origin: 50% 46.8rem;
  margin-left: -5.5rem;
  position: absolute;
  left: 50%;
}

.player__record-vinyl {
  transform-origin: center;
  will-change: rotate, scale, box-shadow;
  background: repeating-conic-gradient(from 45deg, #ffffff26 0deg, #0000 30deg 40%, #ffffff26 180deg), repeating-radial-gradient(#131313, #131313 .12rem, #000 .06rem .15rem);
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  transition: all 1.5s;
  animation: 2s linear infinite paused rotation;
  box-shadow: 0 0 5px #000000bf;
}

.player__playlist .player__record:first-child {
  transform: rotate(0);
}

.player__playlist .player__record:nth-child(2) {
  transform: rotate(22.5deg);
}

.player__playlist .player__record:nth-child(3) {
  transform: rotate(45deg);
}

.player__playlist .player__record:nth-child(4) {
  transform: rotate(67.5deg);
}

.player__playlist .player__record:nth-child(5) {
  transform: rotate(90deg);
}

.player__playlist .player__record:nth-child(6) {
  transform: rotate(112.5deg);
}

.player__playlist .player__record:nth-child(7) {
  transform: rotate(135deg);
}

.player__playlist .player__record:nth-child(8) {
  transform: rotate(157.5deg);
}

.player__playlist .player__record:nth-child(9) {
  transform: rotate(180deg);
}

.player__playlist .player__record:nth-child(10) {
  transform: rotate(202.5deg);
}

.player__playlist .player__record:nth-child(11) {
  transform: rotate(225deg);
}

.player__playlist .player__record:nth-child(12) {
  transform: rotate(247.5deg);
}

.player__playlist .player__record:nth-child(13) {
  transform: rotate(270deg);
}

.player__playlist .player__record:nth-child(14) {
  transform: rotate(292.5deg);
}

.player__playlist .player__record:nth-child(15) {
  transform: rotate(315deg);
}

.player__playlist .player__record:nth-child(16) {
  transform: rotate(337.5deg);
}

.player_playing .player__record_settled .player__record-vinyl {
  animation-play-state: running;
}

.player_changing-record .player__record-vinyl {
  scale: 1.1;
  box-shadow: 0 0 20px #000000bf;
}

.player__record-label {
  opacity: .75;
  content: "";
  border-radius: 50%;
  width: 3.85rem;
  height: 3.85rem;
  display: block;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.player__record-label:before {
  content: "";
  background: #000;
  border-radius: 50%;
  width: .24rem;
  height: .24rem;
  display: block;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    rotate: none;
  }

  100% {
    rotate: 360deg;
  }
}

.player:before, .player__tonearm:before, .player__button {
  background: conic-gradient(#d7d7d7, #c3c3c3, #ccc, #c6c6c6, #d3d3d3, #d8d8d8, #d5d5d5, #d8d8d8, #d3d3d3, #c5c5c5, silver, #bfbfbf, #d0d0d0, #d9d9d9, #d1d1d1, #c5c5c5, #c8c8c8, #d7d7d7, #d5d5d5, #cdcdcd, #c4c4c4, #d9d9d9, #cecece, #c5c5c5, #c5c5c5, #cdcdcd, #d8d8d8, #d9d9d9, #d7d7d7) content-box content-box;
}

.visualizer {
  z-index: -1;
  position: fixed;
  inset: 0;
}

.visualizer__footage {
  transition: opacity var(--change-record-animation-duration, 2s) var(--change-record-animation-easing, ease-in-out);
}

.visualizer__footage_current {
  opacity: 1;
  position: absolute;
  inset: 0;
}

.visualizer__footage_next {
  opacity: 0;
  position: static;
}

.status {
  color: #ffffff80;
  font-weight: 300;
}

@media screen and (width >= 576px) {
  .status {
    text-align: right;
  }
}

.status__title {
  align-items: baseline;
  gap: .5rem;
  display: flex;
}

@media screen and (width >= 576px) {
  .status__title {
    justify-content: flex-end;
  }
}

.status__title-loader {
  display: none;
}

.status__title_loading .status__title-loader {
  display: initial;
}

.status__track {
  display: none;
}

.status__track-title {
  font-weight: 500;
}

.status__track:has(.status__track-title:not(:empty)) {
  display: initial;
}

.status__track-licence {
  font-size: .75rem;
}

.status__track-licence:not(:empty):before {
  content: "© ";
}
/*# sourceMappingURL=relax-background.cd7094f6.css.map */
