*, :before, :after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:before, :after {
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  cursor: default;
  overflow-wrap: break-word;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

:where(body) {
  margin: 0;
}

:where(h1) {
  margin: .67em 0;
  font-size: 2em;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  padding: 0;
  list-style-type: none;
}

:where(nav li):before {
  content: "​";
  float: left;
}

:where(pre) {
  font-family: monospace;
  font-size: 1em;
  overflow: auto;
}

:where(abbr[title]) {
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  resize: vertical;
  margin: 0;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(dialog) {
  color: #000;
  background-color: #fff;
  border: solid;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
}

:where(dialog:not([open])) {
  display: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where([aria-busy="true" i]) {
  cursor: progress;
}

:where([aria-controls]) {
  cursor: pointer;
}

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@font-face {
  font-family: Rubik;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("Rubik-Light.3e744c42.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("Rubik-Regular.463f0498.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("Rubik-Medium.3b7bfd98.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("Rubik-SemiBold.7720e47c.ttf") format("truetype");
}

@font-face {
  font-family: RubikMonoOne;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("RubikMonoOne.2cef4aeb.ttf") format("truetype");
}

:root {
  --change-record-animation-duration: 2s;
  --change-record-animation-easing: ease-in-out;
}

@media screen and (width < 360px) {
  .hide-min {
    display: none !important;
  }
}

@media screen and (width >= 360px) {
  .hide-up-min {
    display: none !important;
  }
}

@media screen and (width < 360px) {
  .hide-visually-min {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width >= 360px) {
  .hide-visually-up-min {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width < 576px) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (width >= 576px) {
  .hide-up-sm {
    display: none !important;
  }
}

@media screen and (width < 576px) {
  .hide-visually-sm {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width >= 576px) {
  .hide-visually-up-sm {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width < 768px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (width >= 768px) {
  .hide-up-md {
    display: none !important;
  }
}

@media screen and (width < 768px) {
  .hide-visually-md {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width >= 768px) {
  .hide-visually-up-md {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width < 992px) {
  .hide-lg {
    display: none !important;
  }
}

@media screen and (width >= 992px) {
  .hide-up-lg {
    display: none !important;
  }
}

@media screen and (width < 992px) {
  .hide-visually-lg {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width >= 992px) {
  .hide-visually-up-lg {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width < 1200px) {
  .hide-xl {
    display: none !important;
  }
}

@media screen and (width >= 1200px) {
  .hide-up-xl {
    display: none !important;
  }
}

@media screen and (width < 1200px) {
  .hide-visually-xl {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (width >= 1200px) {
  .hide-visually-up-xl {
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

.fullscreened {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.no-animation {
  transition: none;
  animation: none;
}

html {
  font-size: 16px;
}

@media screen and (width >= 992px) {
  html {
    font-size: 20px;
  }
}

@media screen and (width >= 1200px) {
  html {
    font-size: 24px;
  }
}

html {
  height: 100%;
}

body {
  color: #fff;
  background: #000;
  min-height: 360px;
  font-family: Rubik;
}

.page {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  display: flex;
}

.page__header {
  background: linear-gradient(177deg, #00000080 0, #0003 5rem, #fff0 10rem);
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  min-height: 10rem;
  padding: .75rem 1rem;
  display: flex;
}

@media screen and (width >= 576px) {
  .page__header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page__logo {
  text-transform: uppercase;
  letter-spacing: .2rem;
  flex: none;
  width: 100%;
  font: bold 2rem / 3rem RubikMonoOne, sans-serif;
}

@media screen and (width >= 576px) {
  .page__logo {
    width: 10rem;
  }
}

.page__app-status {
  flex: 1;
}

@media screen and (width >= 576px) {
  .page__app-status {
    max-width: 50%;
  }
}

.page__logo-part {
  mix-blend-mode: overlay;
}

.page__logo-part_accent {
  color: inherit;
  mix-blend-mode: normal;
  transition: color var(--change-record-animation-duration, 2s) var(--change-record-animation-easing, ease-in-out);
}

.page__footer {
  background: linear-gradient(1deg, #00000080 0, #0003 2rem, #00000012 3rem, #fff0 4rem);
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 4rem;
  padding-block-end: .2rem;
  display: flex;
}

.page__footer a {
  color: #fff;
  opacity: .5;
  display: none;
}
/*# sourceMappingURL=relax-background.39dfcbfd.css.map */
