@use 'vars' as *;
@use 'utils';

:root {
  --change-record-animation-duration: 2s;
  --change-record-animation-easing: ease-in-out;
}

.fullscreened {
  @include utils.fullscreen;
}

html {
  font-size: $rem-size;

  @media (--layout-mf-lg) {
    font-size: 1.25 * $rem-size;
  }

  @media (--layout-mf-xl) {
    font-size: 1.5 * $rem-size;
  }
}
