@use 'sass:map';
@use 'vars' as *;
@use 'utils';

html {
  height: 100%;
}

body {
  min-height: map.get($layout-breakpoints, min);
  font-family: $font-txt-family;
  color: $white;
  // background: linear-gradient(130deg, #123e66, #593273 41.07%, #623d45 76.05%);
  background: $black;
}

.page {
  $header-height: 10rem;
  $footer-height: 4rem;

  display: flex;
  min-height: 100%;

  @include utils.box-stack;

  &__header {
    padding: 0.75rem 1rem;
    width: 100%;
    min-height: $header-height;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(
      177deg,
      rgb($black, 50%) 0,
      rgb($black, 20%) #{0.5 * $header-height},
      rgb($white, 0%) $header-height
    );

    @media (--layout-mf-sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    font:
      bold 2rem/3rem #{$font-accent-family},
      sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    flex: none;

    @media (--layout-mf-sm) {
      width: $header-height;
      // width: 10rem;
    }
  }

  &__app-status {
    flex: 1;

    @media (--layout-mf-sm) {
      max-width: 50%;
    }
  }

  &__logo-part {
    mix-blend-mode: overlay;

    &_accent {
      color: inherit;
      mix-blend-mode: normal;
      transition: color var(--change-record-animation-duration, 2s)
        var(--change-record-animation-easing, ease-in-out);
    }
  }

  &__footer {
    background: linear-gradient(
      1deg,
      rgb($black, 50%) 0,
      rgb($black, 20%) #{0.5 * $footer-height},
      rgb($black, 7%) #{0.75 * $footer-height},
      rgb($white, 0%) $footer-height
    );
    display: flex;
    align-items: end;
    justify-content: center;
    padding-block-end: 0.2rem;

    a {
      color: white;
      opacity: 0.5;
      display: none;
    }

    @include utils.size(100%, $footer-height);
  }
}
