.player
  audio(
    src='assets/audio/Maarten Schellekens - Up from Here.mp3',
    preload='metadata',
    loop
  ) 
    p Ваш браузер не поддерживает встроенное аудио, поэтому вы, к сожалению, не сможете использовать данное веб-приложение
